.spacer {
  flex: 1 1 auto;
}

.container {
  min-height: 90vh;
  width: 100%;
  padding: 24px 40px;
  background-color: #edeae4;
}

.title {
  margin-left: 4px;
}

.logo {
  margin-left: 4px;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
}

.mat-drawer {
  margin-top: 65px;
}
